[user]
	name = gabriel
	email = gabrielcancado@usp.br
[credential]
	helper = "!f() { /home/ros2_ws/.vscode-server/bin/138f619c86f1199955d53b4166bef66ef252935c/node /tmp/vscode-remote-containers-fd4cbcfc-52e8-400a-bfda-950c0db3d7e1.js git-credential-helper $*; }; f"
