[user]
	name = gabriel
	email = gabrielcancado@usp.br
[credential]
	helper = "!f() { /home/ros2_ws/.vscode-server/bin/65edc4939843c90c34d61f4ce11704f09d3e5cb6/node /tmp/vscode-remote-containers-c6c06a7f-5217-44dc-b8af-0e599196a867.js git-credential-helper $*; }; f"
